*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) ,url(../img/ae-dil-hai-mushkil.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    width: 262px;
    margin-top: 4px;
    margin-left: -37px;
    cursor: pointer;
}
.header{
    height: 10%;
}
.header-btn{
    text-decoration: none !important;
    border-radius: 30px;
    padding: 7px 20px;
    margin-top: 4px;
    color: #fff !important;
    background: #107afd;
    font-weight: 600;
}
#open-popup-btn{
    border-radius: 30px;
    background: #107afd;
    margin-top: 5px;
    /* padding: 7px 0px; */
}
#open-popup-btn , .header-btn{
    float: right;
}
.video-details{
    margin: 3% 0;
}
.left-box{
    color: #fff;
    margin: 15px 0;
    padding: 20px;
}
.left-box h2{
    font-family: 'Comic Neue', cursive, sans-serif;
}
.left-box p{
    font-family: 'Calibri', sans-serif;
}
.software img{
    color: #fff;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
.left-box a{
    text-decoration: none !important;
    border-radius: 30px;
    padding: 7px 10px;
    margin-top: 31px;
    color: #fff !important;
    background: #107afd;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
}
.subscribe{
    border: 1px solid #fff !important;
    background: transparent !important;
}
.fa{
    margin: 0 5px;
}
.main-video{
    box-shadow: 0px 0px 15px 0 #107afd;
    margin-top: 31px;
}
.series h3{
    color: #fff;
    font-family: 'Calibri', sans-serif;
}
.first{
    width: 560px;
    height: 315px;
}
/* .watch-more-img{
    width: 270px;
    height: 170px;
    cursor: pointer;
} */

.cs-hidden{
    overflow: visible !important;
}
.showcase-box img{
    width: 270px;
    height: 170px;
    object-fit: cover;
    /* object-position: top; */
    box-shadow: 0px 0px 15px 0 #107afd;
}
.popup-video{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
    background: rgba(0,0,0,0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}
.popup-video.active{
    visibility: visible;
    opacity: 1;
}
.popup-video iframe{
    position: relative;
    max-width: 900px;
    outline: none;
}
.close{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    max-width: 32px;
}

/* @media (max-width: 991px){
    .popup-video iframe{
        max-width: 90px;
    }
} */


@media (max-width:1024px){
    .first{
        width: 352px;
        height: 200px;
        margin-top: 89px;
    }
    .popup-video iframe{
        width: 560px;
        height: 315px;
    }
}
@media (max-width:768px){
    .first{
        width: 500px;
        height: 315px;
    }
}
@media (max-width:652px){
    .first{
        width: 300px;
        height: 170px;
    }
    .popup-video iframe{
        width: 350px;
        height: 200px;
    }
}
@media (max-width:383px){
    .logo{
        width: 230px;
    }
    .header-btn{
        padding: 4px 11px;
        margin-top: 7px;
    }
    .first, .popup-video iframe{
        width: 260px;
        height: 160px;
    }
}

@media (max-width:333px){
    .logo{
        width: 190px;
    }
    .header-btn{
        padding: 2px 9px;
        margin-top: 7px;
    }
    .first, .popup-video iframe{
        width: 270px;
        height: 170px;
    }
}

/* popup */
.center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup{
    width: 400px;
    height: 330px;
    padding: 30px 20px;
    background: #f5f5f5;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
    opacity: 0;
    top: -200%;
    transform: translate(-50%,-50%) scale(0.5);
    transition: opacity 300ms ease-in-out,
                top 100ms ease-in-out,
                transform 1000ms ease-in-out;
}
.popup.active1{
    opacity: 1;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}
.popup .icon{
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}
.popup .icon i.fa{
    font-size: 30px;
    color: #34f234;
}
.popup .title{
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 600;
}
.popup .description{
    color: #222;
    font-size: 15px;
    padding: 5px;
}
.popup .dismiss-btn button{
    padding: 10px 20px;
    background: #111;
    color: #f5f5f5;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}
.popup .dismiss-btn button:hover{
    background: #f5f5f5;
    color: #111;
}